
{% extends 'list/base.html'%}

{% block content %}


<form method = 'POST' style="width:500px; margin-left: 10%; background-color:black;border-style: solid;
  border-color: white;border-width: 5px; padding: 10px">

    <h1 style="color:white; margin-left: 30%;"><u>Update Contact</u></h1>
    <h2 style="color:red; margin-left: 10%;"> {{ error }}</h2>
    <hr style="height:5px;border-width:0;color:gray;background-color:white">
    {% csrf_token %}
{{ form.as_p}}
    <button type="submit">Update</button>
</form>

{% endblock %}